/**
 * Body CSS
 */

html,
body {
  height: 100%;
  background-color: #eee;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.mui-appbar
{
 background-color: #009688;
 position: fixed;
 width: 100%;
}


/**
 * Layout CSS
 */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}
#sidedrawer a{
    color : black;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;
  
  /* sticky bottom */
  box-sizing: border-box;
  margin-bottom: -160px;
  padding-bottom: 160px;
}

#footer {
  box-sizing: border-box;
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }
  
  #sidedrawer {
    transform: translate(200px);
  }
  
  #content-wrapper {
    margin-left: 200px;
  }
  
  #footer {
    margin-left: 200px;
  }
  
  body.hide-sidedrawer #header {
    left: 0;
  }
  
  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }
  
  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }
  
  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Sidedrawer
 */
#sidedrawer.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */

.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Sidedrawer CSS
 */

#sidedrawer-brand {
  padding-left: 20px;
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer a {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

#sidedrawer a:hover {
  background-color: #E0E0E0;
  text-decoration: none;
}

/*
#sidedrawer strong + ul > li {
  padding: 6px 0px;
}*/


/**
 * Footer CSS
 */

#footer {
  background-color: #009688;
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}

.mui-btn--primary
{
    background-color: #4DB6AC;
    color : white;
}
.mui-btn--primary:hover
{
    background-color: #4DB6AC;
    color : white;
}
.mui-btn--primary:focus
{
    background-color: #4DB6AC;
    color : white;
}

/* Developer Image CSS */

.image-hover-text-container 
{
  position: relative;
  display: inline-block;

  width: auto;
  height: auto;
  transition: all 0.2s linear;
}

.image-hover-image 
{
 display: block;
 margin: 0 auto;
}
.image-hover-image img
{
  height: 200px;
}



.image-hover-text 
{
  position: absolute;
  top: 0;
  width: 100%;  
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  cursor: default;
  transition: opacity 0.2s linear;
}
.image-hover-text:hover 
{
  opacity: 1;
}


.image-hover-text-bubble 
{
  position: relative;
  box-sizing: border-box;
  top: 0; left: 0; right: 100%;
  height: 200px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #848484;
  margin: 0 auto;
  padding: 65% 8px 5px 8px;
  overflow: hidden;
  font-size: 17px;
  color: white;
  text-align: center;
  word-wrap: break-word;
}


.image-hover-text .image-hover-text-title
{
  font-size: 25px;
  display: block;
  color : white;
}

.image-hover-text .image-hover-text-title a
{
  color : white;
  text-decoration: none;
}


